 body {
     font-family: Arial, sans-serif;
     text-align: center;
     background: #f4f4f9;
     margin: 0;
     padding: 20px;
 }

 h1 {
     color: #333;
 }

 .choices {
     margin: 20px 0;
 }

 button:enabled {
     font-size: 18px;
     padding: 10px 20px;
     margin: 10px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     background-color: #4CAF50;
     color: white;
     transition: 0.3s;
 }

 button:hover {
     background-color: #45a049;
 }

 button:disabled {
     font-size: 18px;
     padding: 10px 20px;
     margin: 10px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     background-color: #a6a4a4;
     color: white;
     transition: 0.3s;

 }


 #result {
     margin-top: 20px;
     font-size: 22px;
     font-weight: bold;
     color: #333;
 }

 #score {
     margin-top: 15px;
     font-size: 18px;
 }